<launch>
  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="orientation_mode" value="3"/>
    <param name="orientation_window_size" value="0.01"/>
  </node>
</launch>
